<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        {% for item in top_level_items %}
            <li>
                <a href="{{ item.url }}">
                    {{ item.name }}
                </a>
                {% if item.children.count > 0 %}
                    <ul>
                    {% for child in item.children.all %}
                        <li><a href="{{ child.url }}">{{ child.name }}</a>
                            {% if child.children.count > 0 %}
                                <ul>
                                {% for grandchild in child.children.all %}
                                    <li><a href="{{ grandchild.url }}">{{ grandchild.name }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        
    <!-- <ul>
        {% for item in top_level_items %}
            <li><a href="{{ item.url }}">{{ item.name }}</a>
                {% if item.children.count > 0 %}
                    <ul>
                    {% for child in item.children.all %}
                        <li><a href="{{ child.url }}">{{ child.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul> -->
        
<!-- 
    <ul>
        {% for item in menu_items %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul> -->
        
    
</body>
</html>